html, body {
    color: white;
    background-color: black;
}

h1 {
    display: flex;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

label {
    padding-bottom: 15px;
}

.scrollable {
    height:200px;
    width:25%;
    overflow:hidden;
    overflow-y:scroll;
}

span {
    float: right;
    padding-right: 15px;
}

#ramp {
    width: 600px;
}
